<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>V U E</title>

        <!-- Font-awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka&family=Signika&display=swap" rel="stylesheet">

        <!-- CSS -->
        <link rel="stylesheet" href="css/style.css" />
    </head>

    <body>

        <main id="chat-container">
            <div id="app">

                <aside>
                    <header>
                        <section class="header-profile">
                            <div class="img-profile">
                                <img src="./img/avatar_7.jpg" alt="">
                            </div>
                            <div class="info-profile">
                                <div class="name-profile">Francesco</div>
                            </div>
                        </section>

                        <section class="header-options">
                            <div class="icon-options">
                                <i class="fa-solid fa-circle-notch fa-lg"></i>
                            </div>
                            <div class="icon-options">
                                <i class="fa-solid fa-message fa-lg"></i>
                            </div>
                            <div class="icon-options">
                                <i class="fa-solid fa-ellipsis-vertical fa-lg"></i>
                            </div>
                        </section>
                    </header>

                    <section class="pop-up-notifiche">
                        <div class="img-profile">
                            <i class="fa-solid fa-bell-slash fa-lg"></i>
                        </div>
                        <div class="info-profile">
                            <div class="name-profile">
                                Ricevi notifiche di nuovi messaggi
                            </div>
                            <div class="subtitle underline">
                                Attiva notifiche desktop
                            </div>
                        </div>
                    </section>

                    <section class="search-contact">
                        <button class="button-search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        <div class="nav-bar">
                            <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchQuery">
                        </div>
                    </section>

                    <main>
                        <div class="aside-contact" :class="i == activeContact ? 'active' : '' "  @click="changeActiveContact(i)" v-for="(contact, i) in filteredContacts" :key="contact.id" >
                            <div class="contact-data">
                                <div class="img-profile">
                                    <img :src="contact.avatar" :alt="contact.name">
                                </div>
                                <div class="info-profile">
                                    <div class="name-profile">
                                        {{ contact.name }}
                                    </div>
                                    <div class="subtitle">
                                        Ultimo messaggio inviato
                                    </div>
                                </div>
                            </div>

                            <div class="time">
                               <div class="subtitle">
                                    13:00
                               </div>
                            </div>
                        </div>
                    </main>
                </aside>

                <section>
                    <header>
                        <section class="header-profile">
                            <div class="img-profile">
                                <img :src="contacts[activeContact].avatar" :alt="contacts[activeContact].name">
                            </div>
                            <div class="info-profile">
                                <div class="name-profile">
                                    {{ contacts[activeContact].name }}
                                </div>
                                <div class="subtitle">
                                    Ultimo accesso oggi alle 13:00
                                </div>
                            </div>
                        </section>

                        <section class="header-options">
                            <div class="icon-options">
                                <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                            </div>
                            <div class="icon-options"><i class="fa-solid fa-paperclip fa-lg"></i></div>
                            <div class="icon-options">
                                <i class="fa-solid fa-ellipsis-vertical fa-lg"></i>
                            </div>
                        </section>
                    </header>

                    <main>
                        <div v-for="(singleMessage, i) in contacts[activeContact].messages" class="message-container" :class="singleMessage.status == 'sent' ? 'sent' : 'received'">
                            <div class="message">
                                <div class="text-message">
                                    {{ singleMessage.message }}
                                </div>

                                <div class="time-message subtitle">
                                    {{ singleMessage.date }} 
                                </div>
                            </div>
                        </div>
                    </main>

                    <footer>
                        <div class="emoji">
                            <i class="fa-regular fa-face-tired fa-lg"></i>
                        </div>
                        <div class="text-bar">
                            <input type="text" @keyup.enter="addNewMessage()" v-model="newMessage" placeholder="Scrivi un messaggio">
                        </div>
                        <div class="mic">
                            <i class="fa-solid fa-microphone fa-lg"></i>
                        </div>
                    </footer>
                </section>

            </div>
        </main>




        <!-- Vue -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        
        <!-- Axios -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.5/axios.min.js"></script>
        
        <!-- js -->
        <script src="js/script.js" type="text/javascript"></script>
    
    </body>
</html>